# 185

emmm... 简单点说，就是各部门工资 DENSE_RANK <= 3 的人的集合打印出来。因为 DENSE RANK 的性质，每个部门可能会有超过三人被打印出来。

所以呢你看解答也就是这么个思路：


SELECT
    d.Name AS 'Department', e1.Name AS 'Employee', e1.Salary
FROM
    Employee e1
        JOIN
    Department d ON e1.DepartmentId = d.Id
    
    -- 以上都是为了打印格式、部门名称的部分，下面才是重点
WHERE
    3 > (SELECT
            COUNT(DISTINCT e2.Salary)
        FROM
            Employee e2
        WHERE
            e2.Salary > e1.Salary
                AND e1.DepartmentId = e2.DepartmentId
        )
;

SELECT COUNT(DISTINCT Salary) < 3 就说明DENSERANK的排序 <= 3(< 4)。想想为何有这个差别。

总之…到此为止吧。SQL 什么的已经不需要了。因为已经没有 Query，值得去做了。