# 180

写 SQL 跟过人生的感觉类似。到处报错还没错误提示，此时彼时有不同的标准，做一件事情麻烦的要死，
实际的解法看起来很蠢，看起来聪明的解法实现不了。
而且还没什么选择的自由。

所以呢。Consecutive means 连续的。而且这里的说明为 id column 作为自然数连续就可以了。

SELECT DISTINCT
    l1.Num AS ConsecutiveNums
FROM
    Logs l1,
    Logs l2,
    Logs l3
WHERE
    l1.Id = l2.Id - 1
    AND l2.Id = l3.Id - 1
    AND l1.Num = l2.Num
    AND l2.Num = l3.Num
;

死板一点的做法就是直接把三张 Log 表全联接，然后做比较。

我也没什么可说的了。