# 196

DELETE p1 FROM Person p1,
    Person p2
WHERE
    p1.Email = p2.Email AND p1.Id > p2.Id
    
SQL 重出江湖…

直接 JOIN，看谁敢重复我删谁。
简单粗暴…

另外注意，这里是需要从 Person 表中删除重复记录。
而不是把不重复的部分 SELECT 出来。

第一句注释稍微有点误导性，因为用了 `query statement`……
> # Write your MySQL query statement below